<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Packer Tracker</title>
  </head>
  <body>
<h1>Add a bag</h1>
<p>Add a bag here:</p>

<form action="/bags/@" method="post">
  <label for="bagName">Category name</label>
  <input id="bagName" name="bagName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/bags">Back to categories.</a></p>

</body>
</html>
