<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Packer Tracker</title>
  </head>
  <body>
    <h1>Pack your bags</h1>

    <form action="/bag-items" method="post">
      <label for="nameOfItem">Item Name:</label>
      <input id="nameOfItem" name="nameOfItem" type="text">
      <label for="price">Item price:</label>
      <input id="price" name="price" type="text">
      <label for="weight">Item weight:</label>
      <input id="weight" name="weight" type="text">
      <label for="packed">Packed/unpacked</label>
      <input id="packed" name="packed" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
