@using PackerTracker.Models;

<h1>Packer Tracker</h1>
<h2>@Model.GetNameOfItem()</h2>
<h2>@Model.GetPrice()</h2>
<h2>@Model.GetWeight()</h2>
<h2>@Model.GetPacked()</h2>

<a href="/bag-items/new">Add another bag item</a>
<a href="/bag-items">View all bag item</a>
