<!DOCTYPE html>
<html>
<head>
  <title>PackerTracker</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
    <h1>Hello, World!</h1>
    <p>Pack your Bags!</p>
    <a href='/bag-items/new'>Add a new item<a/>
      <a href='/bag-items'></a>
    </div>
  </body>
  </html>
